.btn {
    display: inline-flex;
    place-items: center;
    gap: 0.5rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    font-family: inherit;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    transform: none;
    pointer-events: none;
}

/* ========================================================================
   Primary
   ======================================================================== */

.btn-primary {
    padding: 15px 30px;
    font-size: 16px;
    background: linear-gradient(90deg, #ff0066, #ff6600);
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(255, 0, 102, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  box-shadow: 0 10px 20px rgba(255, 0, 102, 0);
  transform: translateY(-3px) scale(0.99);
}

/* ========================================================================
   glasss
   ======================================================================== */

.btn-glass {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 400;
  position: relative;
}

.btn-glass::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background:
    linear-gradient(180deg, rgba(8,77,126,0) 0%, rgba(8,77,126,0.42) 100%),
    rgba(47,255,255,0.24);
  box-shadow: inset 0 0 12px rgba(151,200,255,0.44);
  z-index: -1;
}

.btn-glass::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(180deg, rgba(8,77,126,0) 0%, rgba(8,77,126,0.42) 100%),
    rgba(47,255,255,0.24);
  box-shadow: inset 0 0 12px rgba(151,200,255,0.44);
  border-radius: 0.5rem;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in;
}

.btn-glass:hover::after {
  opacity: 1;
}

/* ========================================================================
   ghost
   ======================================================================== */

.btn-ghost {
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btn-ghost {
  border-radius: 50px;
  background: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 12px 30px -6px rgba(238, 103, 97, 0.5);
}

.btn-ghost:hover {
  transform: translateY(3px);
  box-shadow: 0 8px 15px -6px rgba(238, 103, 97, 0.5);
}

.btn-ghost:active {
  opacity: 0.7;
}