.blur-sm {
  backdrop-filter: blur(4px);
}
.blur-md {
  backdrop-filter: blur(8px);
}
.blur-lg {
  backdrop-filter: blur(12px);
}
.blur-xl {
  backdrop-filter: blur(16px);
}
.blur-glass {
  backdrop-filter: blur(20px);
}